.extra {
  font-style: italic;
  margin-top: 200px;
  margin-bottom: 200px;
}

.border {
  margin-top: 200px;
  margin-bottom: 200px;
}

p.about {
  color: green;
  font-family: cursive;
}

.food {
  color: blue;
}

ul {
  margin-top: 200px;
  margin-bottom: 200px;
}

h1 {
  margin-top: 200px;
  margin-bottom: 200px;
}

h2 {  margin-top: 200px;
  margin-bottom: 200px;
}

h3 {  margin-top: 200px;
  margin-bottom: 200px;
}
